
<!--[ Notification section ]-->
<div class='section' id='notif-widget'><div class='widget HTML' data-version='2' id='HTML0'>
<input class='ntfI hidden' id='forNft' type='checkbox'/>
<div class='ntfC'>
<div class='ntfT'><div class='ntfA'> 
 <span>
Feel free for using this template
<br />
<div style='text-align:center;'><a href='https://github.com/7897git/Freebi.git' target='_blank' rel='nofollow noopener noreffer'>Fork at Github <i class="fab fa-github" aria-label="true"></i></a></div>

</span> 
</div></div>
<label aria-label='Close Menu' class='c' for='forNft'></label>
</div>
</div></div>
